
tr {
    cursor: pointer;
}
.container {
    margin: 5% auto 0;
}
.btn {
    display: block !important;
    margin: 2%;
    width: 100%;
}
#lessThen10 {
    margin: 5% auto 0;
}

#info:hover{
    background-color:#afd9ee
}
